<!DOCTYPE html>
<html lang="pl">
<head>
    <style>
        body {
          background-image: url("background.jpg");
        }
      </style>
    <title>Start</title>
    <link rel="icon" href="Image_Icon.png">
    <link rel="stylesheet" href="In1.css">
    </head>
<body>
    
    <header>
        <div class="header-content">
            <h1>Galeria zdjęć</h1>
            <nav>
                <ul>
                    <li><a href="https://peritus-act.com/en/home-page/">Home</a></li>
                </ul>
                
            </nav>
        </div>
    </header>

    
    <main class="cardcontain">
        <a href='/adminlogin'>
        <section class="card">

          <h1>Admin Login</h1>
          <p>This is for Admins to upload and manage pictures.</p>
        </section>
        </a>

        <a href="/client">
        <section class="card">
          <h1>Client Login</h1>
          <p>This is for clients to view and download their pictures.</p>
        </section>
        </a>
      </main>

    <footer>
        <p>© 2024 Galeria zdjęć.</p>
    </footer>
</body>
</html>
